:root {
    --body-color: hsl(229, 73%, 97%);
    --text-color: hsl(216, 67%, 18%);
    --card-color: hsl(0, 0%, 100%);
    --card-shadow: hsl(231, 72%, 93%);
    --button-shadow: hsl(261, 64%, 79%);
    --button-color: hsl(260, 51%, 50%);
}

body {
    background-color: var(--body-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

p {
    color: var(--text-color);
}

.card {
    padding: clamp(0.5em, 0.5em + 2vh, 2em) clamp(1.5em, 2.5em, 3.5em);
    width: clamp(15rem, 15rem + 5vw, 20rem);
    height: auto;
    background-color: var(--card-color);
    border-radius: 0.7em;
    box-shadow: 8px 10px 13px 3.5px var(--card-shadow);
}

.card__image {
    max-width: 100%;
    height: 10rem;
    margin-bottom: 1.5em;
    object-fit: contain;
    object-position: center;
}

.card__title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5em;
}

.card__pricing {
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--text-color);
}

.card__price {
    margin-left: -0.35rem;
    font-size: 1.6rem;
    vertical-align: sub;
    font-family: sans-serif;
    font-weight: bold;
}

.card__time {
    margin-bottom: 1.5em;
    text-align: center;
    font-weight: 300;
}

.card__button {
    background-color: var(--button-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 10rem;
    padding: 0.7em;
    border-radius: 1.5em;
    box-shadow: 3px 7px 13px -3px var(--button-shadow);
    text-align: center;
    color: white;
}

.card__button:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.card__list {
    padding: 0.3em;
}

.card__advantage {
    color: var(--text-color);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card__text {
    margin-left: 0.3rem;
}

/* BACK */

.back {
    width: 3.2rem;
    height: 3.2rem;
    position: fixed;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 50%;
    background-color: var(--button-color);
    color: white;
}
