<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Nemo" />
        <meta name="description" content="Dark Storage Card" />
        <title>Dark Storage Card</title>
        <link rel="icon" href="../assets/img/favicon.png" />
        <link rel="apple-touch-icon" href="../assets/img/favicon.png" />
        <link
            href="https://api.fontshare.com/v2/css?f[]=bespoke-serif@400,500&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="../css/base.css" />
        <link rel="stylesheet" href="../css/dark-storage-card.css" />
    </head>
    <body>
        <article class="card">
            <p class="card__title">BASIC</p>
            <p class="card__storage">
                100<span class="card__storage-type">GB</span>
            </p>
            <p class="card__pricing-plan">1 month, then $1,7/month</p>
            <button class="card__button">Purchase</button>
            <div class="card__divider"></div>
            <ul class="card__list">
                <li class="card__advantage">
                    <i class="fa-solid fa-check"></i>
                    <span class="card__text">100 GB storage</span>
                </li>
                <li class="card__advantage">
                    <i class="fa-solid fa-check"></i>
                    <span class="card__text">Option to add members</span>
                </li>
                <li class="card__advantage">
                    <i class="fa-solid fa-check"></i>
                    <span class="card__text">Extra member benefits</span>
                </li>
            </ul>
        </article>
        <a class="back" href="index.html">
            <i class="fa-solid fa-angle-left"></i>
        </a>
    </body>
</html>
