<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Nemo" />
        <meta
            name="description"
            content="Cards is a site where i try to clone cards of differences sites to practice HTML and CSS."
        />
        <title>Cards</title>
        <link rel="icon" href="../assets/img/favicon.png" />
        <link rel="apple-touch-icon" href="../assets/img/favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
            integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="../css/base.css" />
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <header class="header">
            <h1 class="header__title">Cards</h1>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#plans">Plans</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#products">Products</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#profiles">Profiles</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#media">Media</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main">
            <div class="main__box">
                <p class="main__text main__text--big">Hello there ✋</p>
                <p class="main__text">
                    Welcome to <mark class="main__mark">Cards</mark> !!! <br />
                </p>
                <p class="main__text">
                    This website was created for fun and to practice HTML and
                    CSS.
                </p>
                <p class="main__text">
                    You will found list of cards made by me. All of them are
                    separated into categories related to the concept of the
                    card.
                </p>
                <p class="main__text">Thanks you for visit ❤️.</p>
                <p class="main__text main__text--right">- NEMO</p>
            </div>
        </main>
        <section id="plans" class="category">
            <h2 class="category__title">Plans</h2>
            <section class="category__cards">
                <article class="card">
                    <h3 class="card__title">Card 1</h3>
                    <img
                        src="../assets/img/card1.jpg"
                        alt=""
                        class="card__image"
                    />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 2</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 3</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 4</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 5</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
            </section>
        </section>
        <hr />
        <section id="products" class="category">
            <h2 class="category__title"></h2>
            <section class="category__cards">
                <article class="card">
                    <h3 class="card__title">Card 1</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 2</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 3</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 4</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 5</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
            </section>
        </section>
        <hr />
        <section id="profiles" class="category">
            <h2 class="category__title"></h2>
            <section class="category__cards">
                <article class="card">
                    <h3 class="card__title">Card 1</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 2</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 3</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 4</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 5</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
            </section>
        </section>
        <hr />
        <section id="media" class="category">
            <h2 class="category__title"></h2>
            <section class="category__cards">
                <article class="card">
                    <h3 class="card__title">Card 1</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 2</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 3</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 4</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
                <article class="card">
                    <h3 class="card__title">Card 5</h3>
                    <img src="" alt="" class="card__image" />
                    <button class="button card__button">
                        <a href="#">GO TO</a>
                    </button>
                </article>
            </section>
        </section>
        <footer class="footer">
            <p class="footer__copyright">
                © Cards a website created with
                <span style="color: var(--color-blue)">
                    <i class="fa-solid fa-heart"></i>
                </span>
                by Nemo
            </p>
            <a
                class="footer__social-link"
                href="https://github.com/NEMOtace"
                target="_blank"
            >
                <i class="fa-brands fa-github fa-xl"></i>
                Nemo's Github
            </a>
        </footer>
    </body>
</html>
